pipeline/4th_get activity.json
{
	"name": "4th_get activity",
	"properties": {
		"activities": [
			{
				"name": "get",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://jsonplaceholder.typicode.com/todos"
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "get",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(activity('get').output.Response)",
						"type": "Expression"
					},
					"condition": {
						"value": "@lessOrEquals(item().id,3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['userId']"
								},
								"sink": {
									"name": "userid",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['id']"
								},
								"sink": {
									"name": "id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['title']"
								},
								"sink": {
									"name": "title",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['completed']"
								},
								"sink": {
									"name": "completed",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "RestResource_todo",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}